@import "./fonts.css";
@import "./animations.css";
@import "./Layout.css";
@import "./AdCard.css";
@import "./AiTooltip.css";
@import "./Filters.css";
@import "./Message.css";
@import "./ProductList.css";
@import "./AdsList.css";
@import "./AdDetail.css";
@import "./AdEdit.css";
@import "./AdCreate.css";
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.hide-scrollbar {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.spinning {
  animation: spin 1s linear infinite;
}

.main-content.row {
  margin-left: 0;
  margin-right: 0;
}

.main-content [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.main-content {
  gap: 24px;
}
